{% extends 'core/layout.html' %}
{% load static %}

{% block title %}
    Presente
{% endblock title %}

{% block body %}
  <section class="services-page">
    <div class="services__icon">
      <img src="{% static 'img/icon/gift.svg' %}" alt="Presente" />
    </div>
    <h3>Opção selecionada “Presente” Vá até onde o app te redirecionar para lhe atendermos !</h3>
    {% for caixa in caixas %}
      <div class="caixa">
        <div class="caixa__number">
          {{caixa.number}}
        </div>
        <div class="caixa__main">
          <div class="caixa__name">
            <h2>Caixa {{caixa.number}}</h2>
          </div>
          <div class="caixa__fila">
            <!-- <p>{{caixa.line}}</p> -->
            <div class="caixa__fila">
              {% if caixa.available == True %} 
                <p>Disponivel</p>
              {% else %}
                <p>Fila: {{caixa.line}} {% if caixa.line == 1 %} Pessoa {% else %} Pessoas {% endif %}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock body %}